//Main Font

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// colors

$ball-blue: #2AB7CA;
$raising-black: #221D23;
$black: #000;


$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;