body {
    font-family: 'Raleway', sans-serif;
}
.info {
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
}
.price {
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}