body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;

    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__menu {
        display: flex;
        list-style: none;

        li {
            padding: 0 10px;
        }
    }
}



.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 48.75rem;

    &__hero {
        grid-area: 1 / 1 / 2 / 2;
        padding: 3.125rem 0 0 3.125rem;
        h1 {
            font-size: $xx-large;
        }
    }
}





.details {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    &__title {
        grid-area: 1 / 2 / 2 / 4;
        font-size: $x-large;
        text-align: center;
    }

    &__graphic {
        grid-area: 2 / 2 / 4 / 3;
        display: grid;
        justify-content: center;
        align-content: center;
     
    }
   
    &__stats {
        grid-area: 2 / 3 / 4 / 4;
    }
}

.price {
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);



    &_title {
        grid-area: 2 / 2 / 3 / 4;
    }

    &__card-a {
        grid-area: 3 / 2 / 5 / 3;
    }

    &__card-b {
        grid-area: 3 / 3 / 5 / 4;
    }
}

.footer {
    background-color: $raising-black;
    color:$white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;



    &__about {
        grid-area: 1 / 1 / 2 / 2;
    }

    &__copyright {
        grid-area: 1 / 2 / 2 / 3;
    }
}